<!DOCTYPE html>

<head>
  <script src="{{ url_for('static', filename='bower_components/socket.io-client/dist/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
  <script charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
      socket.emit('my event', {data: 'I\'m connected!'});
    });
  </script>
</head>
<html>
  <body>
  </body>
</html>
